@font-face {
	font-family: 'icomoon';
	src:font-url('icomoon.eot?gh54r0');
	src:font-url('icomoon.eot?#iefixgh54r0') format('embedded-opentype'),
		font-url('icomoon.ttf?gh54r0') format('truetype'),
		font-url('icomoon.woff?gh54r0') format('woff'),
		font-url('icomoon.svg?gh54r0#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icomoon-"], [class*=" icomoon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icomoon-heart-half:before {
	content: "\e600";
}
.icomoon-droplet:before {
	content: "\e602";
}
.icomoon-heart:before {
	content: "\e601";
}
