.login-form {
  text-align: center;
  width: 80%;
  margin: 60px auto 0;
}

input[type=email], input[type=password], input[type=text] {
  display: block;
  width: 100%;
  margin: 0 auto;
  outline: none;
  padding-top: 24px;
  padding-bottom: 24px;
}

.lucent {
  opacity: 0.4;
}

.note {
  margin: 12px 8px;
  font-size: 13px;
  text-align: left;
}

.login-button {
  width: 100%;
  margin: 0 auto;
}

.button-area {
  margin: 50px auto 0px auto;
}

.navigation-bar {
  position: fixed;
}

.page__content {
  padding-top: 44px;
}

.sake-main {
  font-weight: 500;
  height: 35px;
}

.sake-sub {
  margin-bottom: 4px;
  font-size: 14px;
  opacity: 0.8;
  line-height: 1.15;
}

.card {
  padding: 44px 0;
  background-color: black;
  background-size: contain;
  color: white;
  height: 225px;
  background-repeat: no-repeat;
  background-position: center center;
}

.rating {
  text-align: center;
  position: relative;
  height: 0px;
}

.rating-num {
  position: relative;
  top: -24px;
  height: 24px;
  color: white;
  line-height: 24px;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  border-radius: 4px 4px 0 0;
  padding: 0 6px;
  background-color: #eb482f;
  color: white;
  width: auto;
  margin: 0 auto 0 auto;
  display: inline-block;
}

.action-col {
  text-align: center;
  opacity: 0.6;
  padding: 10px 0 8px;
}

.action-col:active {
  opacity: 1.0;
}

.action-col ons-button {
  padding: 0;
  line-height: 1;
}

.sake-detail {
  width: 100%;
  margin: 5px 0px;
  border-collapse: collapse !important;
  font-size: 15px;
  tr > td {
    border: 1px #c0c0c0 solid;
  }
}

.range-list {
  text-align: center;
}

.range-wrapper .range {
  margin-top: 7px;
  width: 100%;
}

.range-ticks {
  top: 5px;
  height: 35px;
  border-left: 1px solid #999;
  position: absolute;
}

.heart-rating {
  font-size: 2em;
  padding: 10px 5px 0px 5px;
  color: #999;
}

.heart-rating.active {
  color: #ff00ff;
}
