<!DOCTYPE html>
<html>
<head>
  <title>SaketchApp</title>
  <meta name="viewport" content="initial-scale=1.0,user-scalable=0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="content">
    <%= yield %>
  </div>

  <%= javascript_include_tag 'application' %>

</body>
</html>
